.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h5 {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  text-align: left;
}

img.yew {
  width: 10%;
  height: auto;
}

.vote {
  display: flex;
  justify-content: center;
}

.voteKey {
  padding-right: 16px;
}
